POS/src/POS/POS/Web References/CZZD.SCM/Webservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://czzd.scm.webservice" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://czzd.scm.webservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://czzd.scm.webservice">
      <s:element name="SetDataInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tableName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="webServiceKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDataInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetDataInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSystemTime">
        <s:complexType />
      </s:element>
      <s:element name="GetSystemTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSystemTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="departmentCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tableName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dateTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="webServiceKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SetDataInfoSoapIn">
    <wsdl:part name="parameters" element="tns:SetDataInfo" />
  </wsdl:message>
  <wsdl:message name="SetDataInfoSoapOut">
    <wsdl:part name="parameters" element="tns:SetDataInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetSystemTimeSoapIn">
    <wsdl:part name="parameters" element="tns:GetSystemTime" />
  </wsdl:message>
  <wsdl:message name="GetSystemTimeSoapOut">
    <wsdl:part name="parameters" element="tns:GetSystemTimeResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataInfo" />
  </wsdl:message>
  <wsdl:message name="GetDataInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="SetDataInfo">
      <wsdl:input message="tns:SetDataInfoSoapIn" />
      <wsdl:output message="tns:SetDataInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSystemTime">
      <wsdl:input message="tns:GetSystemTimeSoapIn" />
      <wsdl:output message="tns:GetSystemTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataInfo">
      <wsdl:input message="tns:GetDataInfoSoapIn" />
      <wsdl:output message="tns:GetDataInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetDataInfo">
      <soap:operation soapAction="http://czzd.scm.webservice/SetDataInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSystemTime">
      <soap:operation soapAction="http://czzd.scm.webservice/GetSystemTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataInfo">
      <soap:operation soapAction="http://czzd.scm.webservice/GetDataInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetDataInfo">
      <soap12:operation soapAction="http://czzd.scm.webservice/SetDataInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSystemTime">
      <soap12:operation soapAction="http://czzd.scm.webservice/GetSystemTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataInfo">
      <soap12:operation soapAction="http://czzd.scm.webservice/GetDataInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:60631/SCM/Webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:60631/SCM/Webservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>